
/* Home Page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #DEDEDE;
    color: #333;
}

header {
    background-color: #A9A4A4;
    color: #251f1f;
    text-align: center;
    height: 100px;
    box-shadow: 5px 1px 10px rgb(0, 0, 0);

}

header .logo img {
    width: 80px;
    height: auto;
}

/* clock/calender section height/color */
.introduction {
    background-color: #272727;
    height: 700px;
    position: relative;
}


.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    justify-content: space-evenly;
    
}

.header-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    color: black;
    background-color: #D9D9D9;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-style: solid;
    transition: 1s;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.header-button:hover{
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    color: black;
    background-color: #de07d0;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-style: solid;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


main .logo{
    position: relative;
    padding-top: 30px;
    padding-left: 5vw;
    width: 54vw;
    
}

a{
    font-family: 'Rubik', sans-serif;
}

main .coding-girl{
    position: relative;
    padding-top: 30px;
    left: 65vw;
    bottom: 60vh;
    width: 27vw;
}


.frontpage-text{
    position: relative;
    font-family: 'Uber', sans-serif;
    font-weight: 800;
    font-size: 35px;
    left: 100px;
    color: black;
    line-height: 45px;
    font-weight: 400;
    width: 50vw;
}

@font-face {
    font-family: 'Rubik';
    src: url('Fonts/Rubik-VariableFont_wght.ttf') format('opentype');
}
@font-face {
    font-family: 'Uber';
    src: url('Fonts/UberMoveMedium.otf') format('opentype');
}


.logo-container{
    height: 730px;
}


.introduction img{
    position: relative;
    width: 600px;
}

#calender-text{
    width: 800px;
    margin-right: 0px;
    color: #000000;
    background-color: #DEDEDE;
    border-radius: 300px;
    border-color: rgb(214, 6, 255);
    border-width: 5px;
    border-style: solid;
    margin-right: 200px;
    padding: 80px;
    margin-inline-start: 0%
}

#clock-text{
    width: 800px;
    padding: 80px;
    padding-left: 100px;
    color: #000000;
    background-color: #DEDEDE;
    border-radius: 300px;
    border-color: rgb(214, 6, 255);
    border-width: 5px;
    border-style: solid;
    margin-right: 60px;
}

#links-page1{
    padding-bottom: 90px;
}

main{
    padding: 0;
    margin: 0;
}

/* .flex-container#sec1{
    background: linear-gradient(
        to right,
        rgb(0, 0, 0) 0%,
        rgb(0, 0, 0) 38%,
        rgb(81, 81, 85) 40%,
        rgb(81, 81, 85) 100%
    );
} */

/* .flex-container#sec2{
    background: linear-gradient(
        to left,
        rgb(0, 0, 0) 0%,
        rgb(0, 0, 0) 38%,
        rgb(81, 81, 85) 40%,
        rgb(81, 81, 85) 100%
    );
} */
.floating-image {
    position: absolute; /* Remove the image from normal flow */
    top: 00px; /* Start positioning at the top of the container */
    left: 0; /* Start positioning at the left of the container */
    width: 300px !important;  /* Adjust the size of the image */
    height: auto; /* Maintain the aspect ratio */
    transform: rotate(0deg); /* Rotate the image 15 degrees */
    z-index: 10; /* Ensure it appears above other content if needed */

}

img#jsimg{
    width: 300px !important; 
    height: 300px;
}

.codingimgs{
    padding-top: 70px;
}

/* Footer Styles */
.site-footer {
    background-color: #272727; /* Dark background */
    color: #DEDEDE; /* Light text color */
    padding: 40px 20px;
    font-family: Arial, sans-serif;
    margin-top: 50px;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-about,
.footer-links,
.footer-contact {
    flex: 1;
    margin: 10px;
    font-family: 'Uber', sans-serif;
}

.footer-about h3,
.footer-links h3,
.footer-contact h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #FFF;
}

.footer-about p,
.footer-contact p,
.footer-links ul li {
    font-size: 1em;
    margin: 5px 0;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li a {
    color: #DEDEDE;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links ul li a:hover {
    color: #FFF;
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #444;
    margin-top: 30px;
}

.footer-bottom p {
    font-size: 0.9em;
    margin: 0;
    color: #AAA;
    font-family: 'Uber', sans-serif;
}

/* Responsive Footer */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-about,
    .footer-links,
    .footer-contact {
        margin: 20px 0;
    }
}

a img.contact-image{
    color: red;
}


a {
    text-decoration: none;
    transition: all 0.3s ease; /* Transition for hover in/out */
    color: #333; /* Default text color */
}

/* Hover state for anchor tags */
a:hover {
    color: #d400ff; /* Color change on hover */
    transform: scale(1.1); /* Slightly enlarge the link */
}

/* Adding hover effect to images inside the anchor tags */
a img.contact-image {
    transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth transition */
    color: red;
}

/* Image hover effect */
a:hover img.contact-image {
    transform: scale(1.2); /* Slightly enlarge the image */
    opacity: 0.8; /* Slightly dim the image */
    fill: red;
}



/* PROJECT PAGE STYLES */
.reyton-text{
    width: 60vw;
    font-family: Uber;
    font-size: 1.4em;
}

.project-title{
    font-family: Rubik;
}
.feature-text{
    width: 80vw;
    font-family: Uber;
    font-size: 1.4em;
    padding-left: 3vw;
}

.project-container{
    display: grid; 
    grid-template-columns: 2.2fr 0fr 0.8fr; 
    /* grid-template-rows: 1fr 1fr 1fr;  */
    gap: 0px 0px; 
    grid-template-areas: 
      "reyton reyton purple"
      "reyton reyton purple"
      "reyton reyton purple"; 
      overflow: hidden;
}

.reyton { grid-area: reyton; }
.purple { grid-area: purplee; }

img#purple{
    position: relative;
    width: 80vw;
    right: 300px;
    bottom: 100px;
    z-index: -1;
    height: 600px;
}

.projects{
    padding-left: 5%;
    height: 500px;
}

.feature{
    padding-left: 3vw;
}


/* Basic styles for the contact page */
#contact {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-details {
    flex: 1;
    margin-right: 20px;
}

.contact-form {
    margin-top: 20px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-top: 10px;
}

.contact-form input, 
.contact-form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #000000;
    border-radius: 4px;
}

.contact-form button {
    margin-top: 2%;
    padding:10px;
    background-color: #dd00ff;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
}

.contact-form button:hover {
    background-color: #9c00d4;
    transition: 0.5s;
}

label{
    font-family: Uber;
}

.con-header{
    font-family: Uber;
}

img#logo-contact{
    width: 80%;
    height: auto;
    margin-top: 40px;
}
/* Services.html */

.process{
    align-content: center;
    font-size: 1.4em;
    font-family: Rubik;
    width: 70vw;
    padding-left: 2vw;
}

.title-services{
    font-family: Rubik;
    font-size: 3em;
    padding-left: 2vw;
}

.services-container {  display: grid;
    grid-template-columns: 1fr 1.1fr 0.9fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Text Text Images"
      "Text Text Images"
      "Text Text Images";
  }
  
  .Text { grid-area: Text; }
  
  .Images {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "img1 img1 img1"
      "img2 img2 img2"
      "img3 img3 img3";
    grid-area: Images;
  }
  
  .img1 { grid-area: img1;
        height: fit-content; }
  
  .img2 { grid-area: img2; }
  
  .img3 { grid-area: img3; }
  
img#calender{
    padding-left: 5vw;
    width: 23vw;
    height: auto;
}

img#google{
    padding-left: 5vw;
    width: 23vw;
    height: auto;
}

img#email{
    padding-left: 5vw;
    width: 23vw;
    height: auto;
}

.contact-container{
    padding-top: 2vh;
    padding-left: 5vw;
}


/* media queries */

/* Base styles for mobile */
@media screen and (max-width: 768px) {
    
    /* General adjustments */
    body {
        font-size: 14px;
        padding: 0;
    }

    .flex-container {
        flex-direction: row;
        align-items: center;
        text-align: center;
    }

    /* Header adjustments */
    header {
        padding-bottom: 10px;
        width: 100vw;
    }


    .logo img {
        width: 20px; /* Adjust the logo size */
    }

    .header-button {
        margin: 10px 0;
        padding: 10px;
        width: 12vw;
    }

     img.menu-button{
        display: none;
    }

    /* Main content adjustments */
    .logo-container {
        margin-top: 0px;
        padding: 0 8px;
        height: 300px;
        margin: 0;
        align-items: center;
    }

    .logo-container .logo {
        width: 88vw;
        max-width: 500px;
        margin-bottom: 0px;
    }

    .frontpage-text {
        font-size: 16px;
        line-height: 1.7;
        width: 96vw;
        padding: 0;
        margin: 0;
        left: 0;
        text-align: center;
    }

    .coding-girl {
        width: 100%;
        max-width: 300px;
        margin-top: 20px;
        display: none;
    }

    #links-page1{
        padding: 0;
        padding-top: 20px;
    }
    /* Social media icons */
    .contact-image {
        width: 80px;
        margin: 0;
        padding-left: 30px;
        padding-top: 10px;
    }
    .contact-image#stupid{
        display: none;
    }

    .Images{
        display: none;
    }

    .Text, .process{
        width: 96vw;
    }

    /* Introduction sections */
    .introduction {
        margin-top: 30px;
        height: 400px;
        width: 100vw;
        color: rgb(0, 0, 0);
    }

    #sec1 img, #sec2 img {
        width: 100px;
        margin-bottom: 15px;
        display: none;
    }

    .frontpage-text#clock-text, .frontpage-text#calender-text{
        border: none;
        width: 280px;
        padding: 10vw;
        margin: 0;
    }

    .codingimgs{
        display: none;
    }

    /* Contact section adjustments */
    .contact-info {
        padding: 10px;
        justify-content: center !important;
    }

    img#logo-contact{
        width: 90%;
        height: auto;
        margin-top: 20px;
    }

    .contact-details{
        border: 5px solid;
        margin: auto;
        width: 50%;
        padding: 10px;
        margin-bottom: 30px;
    }

    .map iframe {
        width: 100%;
        height: 300px;
    }

    /* Footer adjustments */
    .footer-container {
        padding: 0;
        width: auto;
    }
    .site-footer{
        width: 100vw;
        padding: 0;
    }
    .footer-about, .footer-links, .footer-contact {
        width: 100%;
        margin-bottom: 0px;
    }

    .footer-links ul {
        padding: 0;
        text-align: center;
    }
    p#footer-text{
        justify-content: center !important;
        line-break: loose;
        margin-left: 20px;
        margin-right: 20px;
    }
    .footer-bottom p {
        font-size: 14px;
    }

    /* Thank you adjustments */
    .coding-girl#purple-thank{
        display: none;
    }

    .logo-container#thank-you{
        height: 260px !important;
    }

    /* project adjustments */
    .purplee{
        display: none;
    }

    .reyton,.reyton-text{
        width: 95vw;
    }

    .project-container{
        overflow: visible;
    }
}


/* Thank You */
.logo-container#thank-you{
    height: 70vh;
}

img.coding-girl#purple-thank{
    width: 60vw;
    position:absolute;
    top: 14vh;
    
}

.logo-container{
    
}